*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    background-color: rgb(244, 254, 255);  
    justify-content: space-between;
    align-items: center;
    color: rgb(13, 40, 60);
    height: 60px;
    opacity: 0.9;
    border-bottom: 3px solid rgb(114, 110, 110);

    
}

.logo{
    width: 45px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-left: 32px;
    
}
.logo_container{
    margin-left: 1%;
}

.logo_container:hover{
    opacity: 0.8;
    
}

.nav_bar{
    display: flex;
    min-width: 550px;
    justify-content: space-between;
    
border-bottom: 2px solid transparent;


}
.nav_bar a{
    text-decoration: none;
    color: rgb(0, 1, 72);
    letter-spacing: .3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
    padding: 15px 0 13.5px 0;
    transition: 0.2s;

}

.nav_bar :hover{
color: rgb(124, 96, 150);
font-size: 110%;
border-bottom: 2px solid rgb(40, 112, 193);

}

.nav_bar a sup{
    color: rgb(216, 0, 0);
    font-size: 10px;
}



.search_bar{
display: flex;
min-width: 320px;
align-items: center;

    min-width: 120px;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 560px;
}


.search_input{
    background-color: hsl(217, 32%, 82%);
    color: black;
    border : 0px;
    border-radius: 0px 8px 8px 0px;
    height: 36px;

    min-width: 121px;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
}


.search-icon{
    color:rgb(67, 99, 126);
    background-color: hsl(217, 32%, 82%);
    height: 36px;
    padding: 6px;
    justify-content: center;
    border-radius: 8px 0px 0px 8px  ;
}


.search_input::placeholder{
    justify-content: center;
}



.search_bar:hover{
    opacity: 0.7;
        }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 46px;
    margin: 5px;
    
    cursor: pointer;


}

.action_bar{
    display: flex;
    justify-content: space-evenly;
    min-width: 140px;
}


.profile-text,.fav-text,.help-text{
    color: rgba(46, 71, 74, 0.633);
    font-size: 14px;
    transition: 0.1s;
    font-weight: normal;
}
.profilebox{
    margin-left: 30px;
}


.icon{
    transition: 0.3s;
    margin: 5px;

}
.action_container:hover{
    background-color: rgba(191, 191, 191, 0.375);
    justify-content: center;
}

.action_container:hover .txt{
    font-size: 9px;
    margin: 0;
    padding: 0;

}

.action_container:hover .icon{
    
font-size: 170%;
color: rgb(100, 148, 175);
}

.action_container:hover .fav{
color: red;
}







.banner{
    width: 100%;
    opacity: 0.9;
    margin: 20px 0;
}

.catogery_heading{
    text-transform: uppercase;
    color: rgb(28, 121, 235);
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 18px;
}
