*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    background-color: rgb(82, 95, 116);  
    justify-content: space-between;
    align-items: center;
    color: rgb(13, 40, 60);
    height: 60px;
    opacity: 0.9;
}

.logo{
    width: 45px;
    border-radius: 50%;
    
}
.logo_container{
    margin-left: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav_bar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: .3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
}

.nav_bar a sup{
    color: rgb(216, 0, 0);
    font-size: 10px;
}



.search_bar{
display: flex;
min-width: 320px;
align-items: center;
}


.search_input{
    background-color: hsl(217, 32%, 82%);
    color: black;
    flex-grow: 1;
    height: 30px;
    border : 0px;
    border-radius: 0px 8px 8px 0px ;
    
}


.material-symbols-outlined{
    color:rgb(67, 99, 126);
    background-color: hsl(217, 32%, 82%);
    height: 30px;
    padding: 4px;
    border-radius: 8px 0px 0px 8px  ;

}

